<%- include ../../partials/header.ejs %>
<%- include ../../partials/main_nav.ejs %>

<% if (title == "Login") { %>

    <main class="container">
        <% if(messages.length > 0) { %>
            <div class="alert alert-danger">
                <%= messages %>
            </div>
        <% } %>

        <div class="container pt-5">
            <div class="col-6 m-auto">
                <h1><%= title %></h1>
                <form action="" method="POST" class="form">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                        <a href="/register">Register Here</a>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <a href="/" class="btn btn-outline-secondary">Cancel</a>
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

<% } else { %>
<% } %>

<%- include ../../partials/bottom_nav.ejs %>
<%- include ../../partials/footer.ejs %>